
.container{
    display:flex;
    justify-content: center;
    padding-top: 39px;

}
footer{
    display:flex;
    justify-content: center;
    align-items: center;
}
.direitos{
    display: flex;
    justify-content: center;
    align-items: center;
}