header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
body{
    background-image: url(./midia/fundo.png);

    

}
.container{
    display:flex;
    justify-content: center;
    padding-top: 39px;

}
footer{
    display:flex;
    justify-content: center;
}