header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    padding-left: 121px;
    padding-right: 150px;
}
body{
    background-image: url(./midia/fundo2.png)
    
}
section{
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    

}
footer{
    display:flex;
    justify-content: center;
}





