header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
body{
 background-image: url(./midia/fundo2.png)
}
.linha{
    border-bottom: solid cornflowerblue 3px;
}

footer{
    display:flex;
    justify-content: center;
}
